.forsometime1{
    width: 1440px;
    height: 5000px;
}
@media screen and (max-width: 1200px){
    .forsometime1{
        max-width: 90%;
    }
}

.textc0{
    position: absolute;
    width: 134px;
    height: 15px;
    left: 115px;
    top: 200px;
    
}
.framec1{
    position: absolute;
width: 342px;
height: 342px;
left: 0px;
top: 0px;

}
.textc1{
    position: absolute;
    width: 224px;
    height: 42px;
    left: 215px;
    top: 317px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    /* identical to box height, or 135% */
    
    text-transform: uppercase;
    
    color: #232323;
}
.textc2{
    position: absolute;
width: 42px;
height: 12px;
left: 215px;
top: 389px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


color: #848484;

}
.textc3{
    position: absolute;
width: 342px;
height: 26px;
left: 215px;
top: 416px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


color: #323232;

}
.textc4{
    position: absolute;
width: 97px;
height: 12px;
left: 215px;
top: 482px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


color: #848484;

}
.textc5{
    position: absolute;
width: 342px;
height: 26px;
left: 215px;
top: 509px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


color: #323232;

}
.textc6{
    position: absolute;
width: 342px;
height: 26px;
left: 215px;
top: 540px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


color: #323232;

}
.textc7{
    position: absolute;
width: 95px;
height: 12px;
left: 215px;
top: 606px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


color: #848484;

}
.textc8{
    position: absolute;
width: 167px;
height: 26px;
left: 215px;
top: 633px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


color: #323232;

}
.textc9{
    position: absolute;
width: 227px;
height: 25px;
left: 882px;
top: 280px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 122% */
text-align: center;
color: #323232;

}
.input1{
position: absolute;
width: 370px;
height: 50px;
left: 815px;
top: 348px;

}
.input2{
    position: absolute;
    width: 370px;
    height: 50px;
    left: 815px;
    top: 413px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
}
.input3{
    position: absolute;
width: 370px;
height: 50px;
left: 815px;
top: 478px;
background: #FFFFFF;
border: 1px solid #D0D0D0;
box-sizing: border-box;
border-radius: 2px;
}
.input4{
    position: absolute;
width: 370px;
height: 50px;
left: 815px;
top: 543px;
background: #FFFFFF;
border: 1px solid #D0D0D0;
box-sizing: border-box;
border-radius: 2px;
}
.btnc1{
    position: absolute;
    width: 370px;
    height: 60px;
    left: 815px;
    top: 613px;
    background: #DD4053;
    border-radius: 5px;
}
.rectangle325{
position: absolute;
width: 500px;
height: 460px;
left: 750px;
top: 263px;
background: #F8F8F8;
}
.textc10{
    position: absolute;
width: 146.97px;
height: 20px;
left: 110px;
top: 20px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}
.textc11{
    position: absolute;
    width: 37px;
    height: 20px;
    left: 835.56px;
    top: 363px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #2F2F2F;
    
}
.textc12{
    position: absolute;
    width: 72px;
    height: 20px;
    left: 835px;
    top: 428px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #969696;
    
}
.textc13{
    position: absolute;
    width: 46px;
    height: 20px;
    left: 835px;
    top: 493px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #969696;
    
}
.textc14{
    position: absolute;
    width: 156px;
    height: 20px;
    left: 835px;
    top: 558px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #969696;
    
}
.textc15{
    position: absolute;
    width: 272px;
    height: 42px;
    left: 115px;
    top: 1273px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    /* identical to box height, or 135% */
    
    text-transform: uppercase;
    
    color: #232323;
    
}
.textc16{
    position: absolute;
    width: 31px;
    height: 16px;
    left: 693px;
    top: 1286px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    
    
    color: #000000;
    
}
.textc17{
    position: absolute;
width: 105px;
height: 16px;
left: 774px;
top: 1286px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */


color: #000000;

opacity: 0.35;
}
.textc18{
    position: absolute;
width: 218px;
height: 16px;
left: 929px;
top: 1286px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */


color: #000000;

opacity: 0.35;
}
.textc19{
    position: absolute;
width: 88px;
height: 16px;
left: 1197px;
top: 1286px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */


color: #000000;

opacity: 0.35;
}
.textc20{
    position: absolute;
width: 166px;
height: 26px;
left: 315px;
top: 1380px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */


color: #323232;

}
.textc21{
    position: absolute;
width: 166px;
height: 26px;
left: 315px;
top: 1901px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */


color: #323232;

}
.textc22{
    position: absolute;
width: 166px;
height: 26px;
left: 915px;
top: 1380px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */


color: #323232;

}
.textc23{
    position: absolute;
width: 166px;
height: 26px;
left: 915px;
top: 1640px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */


color: #323232;

}
.textc24{
    position: absolute;
    width: 166px;
    height: 26px;
    left: 315px;
    top: 1640px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    
    
    color: #323232;
    
}
.textc25{
    position: absolute;
    width: 166px;
    height: 26px;
    left: 915px;
    top: 1901px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    
    
    color: #323232;
    
}
.textc26{
    
}
.textc27{
    
}
.textc28{
    
}
.textc29{
    
}
.textc30{
    
}
.textc31{
    
}
.textc32{
    
}
.textc33{
    
}
.textc34{
    
}
.textc35{
    
}
.textc36{
    
}
.textc37{
    
}

.imgc1{
    position: absolute;
width: 1400px;
height: 400px;
left: 0px;
top: 783px;

}

@media screen and (max-width: 1200px){
    .forsometime1{
        max-width: 90%;
    }
}
.imgc2{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 115px;
    top: 1386px;
    
    background: url(caa5ade0ec.jpg);
}
.imgc3{
    position: absolute;
width: 150px;
height: 150px;
left: 115px;
top: 1646px;

background: url(b620fef46d.jpg);
}
.imgc4{
    position: absolute;
width: 150px;
height: 150px;
left: 115px;
top: 1907px;

background: url(caa5ade0ec.jpg);
}
.imgc5{
    position: absolute;
width: 150px;
height: 150px;
left: 715px;
top: 1386px;

background: url(aebaf84a50.jpg);
}
.imgc6{
    position: absolute;
width: 150px;
height: 150px;
left: 715px;
top: 1646px;

background: url(fd4b766744.jpg);
}
.imgc7{
    position: absolute;
width: 150px;
height: 150px;
left: 715px;
top: 1907px;

background: url(aebaf84a50.jpg);
}